p{
    color: aqua;
    font-size: 20pt;
}
#p1{
    color: pink;
}
.txt{
    color: purple;
    font-size: 30pt;
}
h4,h5,h6{
    color: tomato;
    font-size: 25pt;
}
#obs{
    color: red;
}